.card {
    display: flex;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 10px;
    height: 180px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 10px 28px rgba(0,0,0,0.30), 0 10px 12px rgba(0,0,0,0.22);
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .card-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: black;
    margin-top: 5px;
    justify-content: flex-start;
    text-align:left;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .card-content {
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
    color: #4c4c4c;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: flex-start;
    width: 90%;
    margin-left: 5px;
  }