.titulo{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    color: white;
    font-size: 2rem;
}
.videos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}