.titulo{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    color: white;
    font-size: 2rem;
}
.video{
    width: 50%;
    height: 50%;
    margin-left: 360px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}