.title{
    color: white;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.partida{
    font-size: 27px;
    color: white;
    margin-top: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}
.video{
    width: 50%;
    height: 50%;
    margin-left: 360px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.like{
    display: flex;
    justify-content: center;
}
.favorito{
    font-size: 27px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.professional-button {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(145deg,rgb(8, 239, 8),  rgb(170, 237, 170));
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.professional-button:hover {
    background: linear-gradient(145deg, rgb(170, 237, 170),rgb(8, 239, 8));
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.professional-button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transform: translateY(2px);
}

.jogo-container{
    margin-left: 80px;
}

