.title{
    color: white;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.partida{
    font-size: 27px;
    color: white;
    margin-top: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}
.video{
    width: 50%;
    height: 50%;
    margin-left: 460px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.like{
    display: flex;
    justify-content: center;
}
.favorito{
    font-size: 27px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

